$color-fondo: black;
$color-texto: white;
$espaciado-enlace: 40px;
$espaciado-brand: 20px;
$altura-logo: 40px;

$color-fondo-footer: black;
$color-texto-footer: #fff;
$espaciado: 10px;
$tamano-enlace: 18px;
$color-enlace: #fff;
$color-enlace-hover: #ddd;

$centrado-texto: center;
$subrayado-decoracion: underline;
$espaciado-fundas: auto;
$max-ancho-home: 800px;
$espaciado-contenedor: 20px;

$espaciado-general: 20px;
$espaciado-margen-top: -35px;
$espaciado-interior-lista: 10px;
$espaciado-margen-bottom-h3: 20px;
$espaciado-margen-izquierda-imagenes: 20%;
$espaciado-margen-derecha-imagen: 50px;
$tamano-imagen: 30%;
$tamano-altura-imagen: 20%;
$espaciado-margen-superior-parrafo: 10px;

$max-ancho-formulario: 400px;
$espaciado-general: 20px;
$espaciado-etiqueta: 5px;
$espaciado-interior-input: 10px;
$bordes-ancho: 1px;
$bordes-color: #ccc;
$bordes-radio: 4px;
